@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome- version5</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Products</h2>
@if (Model.Products != null && Model.Products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
                <tr>
                    <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@product.CreatedDate</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}
